.days {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    span{
        background-color: var(--white);
        border-radius: var(--border-radius);
        font-size: var(--medium-font);
        padding: var(--big-padding);
        margin: var(--creneau-margin);
        text-align: center; 
        height: fit-content;
        overflow: hidden;
    }

    .selected{
        background-color: var(--black);
        color: var(--white);
    }
}