.input {
    padding: var(--medium-padding);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--medium-font);
    background-color: var(--white);
    color: var(--grey-dark);
    height: var(--inputs-height);

    box-shadow: 0px 0px 4px rgba(210, 218, 255, 0.6);

    &:focus-visible{
        outline: 1px solid var(--grey-light);
    }
}

.red {
    color: var(--red-dark);

    &:focus-visible{
        outline: 1px solid var(--red-light);
    }
}

.blue {
    color: var(--blue-dark);
    
    &:focus-visible{
        outline: 1px solid var(--blue-light);
    }
}

.orange {
    color: var(--orange-dark);
    
    &:focus-visible{
        outline: 1px solid var(--orange-light);
    }
}

.green {
    color: var(--green-dark);
    
    &:focus-visible{
        outline: 1px solid var(--green-light);
    }
}