.command_pallet_top {
    background-color: var(--white);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: solid 1px var(--grey-background);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    column-gap: 10px;

    svg {
        width: 25px;
        height: 25px;
        fill: var(--grey-dark);
    }

    input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: var(--title-font);
        color: var(--black);
        background-color: var(--white);
    }
}
